{% extends 'base.html.twig' %}

{% block title %}Toets H.Robben{% endblock %}

{% block body %}
<style>
    * {margin: 0; padding: 0;}
    .example-wrapper nav { background: #F5F5F5; width: 100%; height: 100px;}
</style>

<div class="example-wrapper">

</div>
{% endblock %}
